html, body {
		min-width: 1000px;
		width: auto !important;
		width: 1000px;
	}
	table {
		text-align: center;
		width: 100%;
		border-collapse: collapse;

	}
	tr {
		border: solid;
		border-width: 1px 0;
		height: 50px;

	}

	.myDinnerView {
		border: solid;
		border-color: #000000;
		border-width: 2px;
		padding: 0;
		height: 100%;
	}
	.side {
		display:inline-block;
	}
	div.header {
	background-color: gray;
	border: 2px;
	border-color: #000000;
	border-style: solid;
	opacity: 0.6;
	height: 90px;
	margin:0;

}
.button {
	background-color: #FF7F50;
	border-style: solid;
	border-color: #000000;
	border-size: 1px;
	color: gray;
	margin-left: 10%;
	margin-right:70%;
	box-shadow: 2px 2px 1px #888888;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
	background:-moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25',GradientType=0);
	background-color:#ffc477;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:2px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:11px 24px;
	text-decoration:none;
	text-shadow:0px 0px 0px #cc9f52;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
	background:-moz-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-webkit-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-o-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-ms-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477',GradientType=0);
	background-color:#fb9e25;
}
.myButton:active {
	position:relative;
	top:1px;
}


p.normal {
	word-wrap: break-word;
	font-size: medium;
	font-family: Georgia, serif;
	font-weight: normal;


}